@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">MVC Test for newshore.</p>
    
    <p class="btn btn-dark" bn-lg >@Html.ActionLink("Search Flights", "Index", "SearchFlight" )</p>
</div>

